:root {
--almost-white: hsl(0, 0%, 98%);
--medium-gray: hsl(0, 0%, 41%);
--almost-black: hsl(0, 0%, 8%);
--font: 'Epilogue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--almost-white);
    font-family: var(--font);
}

.page {
    height: 100dvh;
}

.side-menu {
    height: 100%;
    width: 65%;
    position: absolute;
    left: 35%;
    background-color: var(--almost-white);
    z-index: 1;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: 1.5s ease-in-out;
}

.menu-items {
    padding: 0 1rem;
    max-width: 100%;
}

.options-list {
    list-style: none;
    color: var(--medium-gray);
    padding: 0;
    margin-top: 0;
}

.options-list li {
    margin-bottom: 1.5rem;
    list-style: none;
}

.options-list li:before {
    padding-right: 0.5rem;
}

.options-list li:first-child {
    margin-top: 1.5rem;
}

.options-list li:last-child {
    margin-bottom: 0.3rem;
}

.todo::before {
    position: relative;
    top:2px;
    content: url('./images/icon-todo.svg');
}

.calendar::before{
    position: relative;
    top:2px;
    content: url('./images/icon-calendar.svg');
}

.reminders::before{
    position: relative;
    top:2px;
    content: url('./images/icon-reminders.svg');
}

.planning::before{
    position: relative;
    top:2px;
    content: url('./images/icon-planning.svg');
}

.option-with-dropdown a {
    text-decoration: none;
    color: var(--medium-gray);
}


.options-list-arrow {
    padding-left: 0.3rem;
    content: url('./images/icon-arrow-down.svg');
}

.options-list-arrow:hover {
    content: url('./images/icon-arrow-up.svg');
}

.dropdown {
    opacity: 0;
    height: 0;
    transition: 1s ease-in-out;
}

.dropdown li {
    margin-bottom: 0;
}

.option-with-dropdown:hover .dropdown {
    opacity: 1;
    height: fit-content;
}


header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.menu-button {
    border: none;
    height: 2rem;
    background-color: var(--almost-white);
}

.menu-button img {
    height: 1.5rem;
    width: 2rem;
    transition: 1.5s ease-in-out;
}

.menu {
    position:absolute;
    opacity: 60%;
}

.close-menu {
    opacity: 0;
}

.hero {
    content: url('./images/image-hero-mobile.png');
    width: 100%;
}

.content {
    padding: 1rem;
    text-align: center;
}

.title {
    color: var(--almost-black);
    font-size: 2.2rem;
    font-weight: 700;
}

.sub-text {
    color: var(--medium-gray);
    font-size: 1rem;
}

.button {
    padding: 0.6rem .9rem;
    border-radius: 0.9rem;
    font-weight: 700;
    font-size: 1rem;
}

.learn {
    color: var(--almost-white);
    background-color: var(--almost-black);
}

.learn:hover {
    color: var(--almost-black);
    background-color: var(--almost-white);
}

.login {
    border: none;
    width: 80%;
    align-self: center;
    color: var(--medium-gray);
    margin-bottom: 0.5rem;
    background-color: var(--almost-white);
}

.login:hover {
    color: var(--almost-black);
}

.register {
    width: 80%;
    align-self: center;
    color: var(--medium-gray);
    background-color: var(--almost-white);
    border-color: var(--medium-gray);
}

.register:hover {
    color: var(--almost-black);
    border-color: var(--almost-black);
}

.logos {
    padding: 3rem 0.2rem;
    display: flex;
    justify-content: space-between;
    height: 1.1rem;
}

.hidden {
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}