:root {
--almost-white: hsl(0, 0%, 98%);
--medium-gray: hsl(0, 0%, 41%);
--almost-black: hsl(0, 0%, 8%);
--font: 'Epilogue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--almost-white);
    font-family: var(--font);
}

.page {
    height: 100dvh;
}

.side-menu {
    height: 100%;
    width: 65%;
    position: absolute;
    left: 35%;
    background-color: var(--almost-white);
    z-index: 1;
    transition: ease-in-out;
    display: flex;
    flex-direction: column;
}

.options-list {
    list-style: none;
    color: var(--medium-gray);
}

.options-list li {
    margin-bottom: 1.5rem;
}
.options-list li:last-child {
    margin-bottom: 0.3rem;
}

.options-list-arrow {
    content: url('./images/icon-arrow-down.svg');
}

header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.menu {
    opacity: 60%;
}

.hero {
    content: url('./images/image-hero-mobile.png');
    width: 100%;
}

.content {
    padding: 1rem;
    text-align: center;
}

.title {
    color: var(--almost-black);
    font-size: 2.2rem;
    font-weight: 700;
}

.sub-text {
    color: var(--medium-gray);
    font-size: 1rem;
}

.button {
    padding: 0.6rem .9rem;
    border-radius: 0.9rem;
    font-weight: 700;
    font-size: 1rem;
}

.learn {
    color: var(--almost-white);
    background-color: var(--almost-black);
}

.learn:hover {
    color: var(--almost-black);
    background-color: var(--almost-white);
}

.login {
    border: none;
    width: 80%;
    align-self: center;
    color: var(--medium-gray);
    margin-bottom: 0.5rem;
    background-color: var(--almost-white);
}

.register {
    width: 80%;
    align-self: center;
    color: var(--medium-gray);
    background-color: var(--almost-white);
}

.logos {
    padding: 3rem 0.2rem;
    display: flex;
    justify-content: space-between;
    height: 1.1rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}